body { overflow: hidden; }
.top { height: 65px; display: block; overflow: hidden; position: fixed; top: 0; right: 0; width: 65px; z-index: 101; }
.top_main { background: #fff; height: 65px; position: absolute; right: 0; top: 0; width: 0; z-index: 101; }
.top_content { margin: 0 auto; width: 1000px; }
.top_main .logo { margin-top: 15px; float: left; }
.top_main p { float: right; position: relative; }
.top_main p a { display: none; opacity: 0; transition: all 0.3s linear; float: left; text-align: center; position: relative; z-index: 2; }
.top_main p a { font-family: "幼圆"; font-weight: bold; line-height: 65px; color: #c81e18; font-size: 17px; width: 100px; }
.top_main .logo { width: 136px; display: inline-block; height: 34px; }
.top_main .e { color: #fff; }
.tab_active { display: none; opacity: 0; position: absolute; left: 0; top: 0; z-index: 0; background-color: #c81e18; width: 100px; height: 65px; }
.btn_go_gnb { width: 65px; height: 65px; text-align: center; background-color: #fff; display: inline-block; position: absolute; right: 0; top: 0; z-index: 102; }
.btn_go_gnb i { font-size: 30px; color: #ae1818; line-height: 65px; }
.off { background-color: #fff; }
.on { background-color: #ae1818; }
.off i { color: #ae1818; }
.on i { color: #fff; }
.screen { width: 100%; position: relative; overflow: hidden; }
.grey { background: url(../images/whilte.png) no-repeat #f8f8f8 top right; }
.whilte { background: url(../images/grey.png) no-repeat top left; }
.red { background-color: #ae1818; }
.scre1_bg { background: url(../images/screen1_bg.png) repeat-x left bottom; width: 100%; height: 271px; position: absolute; left: 0; bottom: 0; }
.main { width: 1000px; margin: 0 auto; position: relative; }
.scre1_in { position: absolute; left: 312px; top: 70px; background: url(../images/screen1_in.png) no-repeat; width: 489px; height: 444px; z-index: 0; }
.logo1 { margin: 0 auto; display: block; }
.margin1 { height: 395px; }
.hellotext { margin: 28px auto 0; width: 252px; display: block; height: 100px; overflow: hidden; height: 40px; }
.hellotext_wrapper { height: 24px; overflow: hidden; }
.hellotext_wrapper b { display: inline-block; margin: 0 3px; color: #fff; font-size: 24px; font-family: "华文行楷","方正舒体","幼圆","微软雅黑"; font-weight: normal; }
/*span.blinking-cursor{ background:url(../images/sr.gif) no-repeat right center; padding-right: 5px;height:24px;overflow:hidden; display:inline-block;}*/
span.blinking-cursor {  padding-right: 5px; height: 24px; overflow: hidden; display: inline-block; }
.circle { height: 157px; margin-top: 100px; position: relative; z-index: 100; }
.circle li { position: relative; cursor: pointer; -webkit-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; -moz-transition: all 0.3s linear; float: left; margin: 0 25px 0 18px; background: url(../images/circle.png) no-repeat; width: 157px; height: 157px; }
.circle li img { width: 58px; height: 60px; margin: 46px 0 0 46px; position: relative; z-index: 2; }
.circle li p { display: none; background: url(../images/circle_in.png) no-repeat; width: 111px; height: 111px; position: absolute; left: 22px; top: 18px; z-index: 0; }
.circle li:hover { -webkit-transform: translateY(-20px); -moz-transform: translateY(-20px); -o-transform: translateY(-20px); -ms-transform: translateY(-20px); }
.circle li:hover .c1, .c2 { display: none; }
.circle li:hover .c2, .circle li:hover p { display: block; }
.circle li:hover p { -moz-animation: rotate 0.8s linear 2 0.3s; -o-animation: rotate 0.8s linear 2 0.3s; -webkit-animation: rotate 0.8s linear 2 0.3s; -ms-animation: rotate 0.8s linear 2 0.3s; }

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rotate {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes rotate {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}

.downtb { display: inline-block; border-radius: 36px; position: absolute; left: 50%; bottom: 40px; width: 36px; height: 36px; border: #fff 2px solid; text-align: center; line-height: 40px; }
.downtb i { color: #fff; font-size: 20px; }
.items { position: fixed; right: 48px; top: 35%; z-index: 99999; }
.items li { margin-bottom: 30px; border-radius: 28px; cursor: pointer; width: 28px; height: 28px; background-color: #dfdcdc; transition: all 0.3s ease-in-out; }
.items li.e, .items li:hover { background-color: #db3f3f; }
.margins { overflow: hidden; }
.title { width: 100%; text-align: center; }
.marketing { width: 814px; margin: 33px auto 0; overflow: hidden; }
.marketing li { transition: background-color 0.3s linear; cursor: pointer; font-size: 29px; font-family: "微软雅黑"; margin: 0 10px; float: left; padding: 0 30px; height: 54px; border-radius: 22px; background-color: #d8d8d8; color: #616161; line-height: 54px; text-align: center; }
.marketing li a { font-size: 29px; font-family: "微软雅黑"; display: block; color: #616161; }
.marketing li.e { color: #fff; background-color: #cb1f19; }
.marke_content { overflow: hidden; }
.marke_content ul { overflow: hidden; margin: 29px 0 0 53px; }
.marke_content li { cursor: pointer; float: left; width: 128px; height: 190px; padding: 15px 85px; }
.marke_content li .a_hre { margin-bottom: 15px; text-align: center; display: block; width: 124px; height: 124px; background-color: #f7f7f8; border: #7a7a7a 2px solid; border-radius: 128px; position: relative; }
.marke_content li .a_hre:hover { -webkit-animation: all 200ms ease-in-out; -moz-animation: all 200ms ease-in-out; -o-animation: all 200ms ease-in-out; -ms-animation: all 200ms ease-in-out; animation: all 200ms ease-in-out; border: #f8f8f8 2px solid; }
.marke_content li a{ text-align: center; line-height: 22px; font-size: 18px; width: 128px; display: inline-block; color:#333;}
.marke_content li .a_hre i { color: #939393; font-size: 65px; line-height: 128px; position: relative; z-index: 9; opacity: 1; }
.marke_content li .a_hre:hover i { color: #fff; -webkit-animation: all 300ms ease-in-out; -moz-animation: all 300ms ease-in-out; -o-animation: all 300ms ease-in-out; -ms-animation: all 300ms ease-in-out; animation: all 300ms ease-in-out; opacity: 1; }
.marke_content li .a_hre b { position: absolute; background: none; left: -2px; top: -2px; width: inherit; height: inherit; border-radius: 50%; opacity: 0; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; -ms-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; -webkit-transform: scale(0); -moz-transform: scale(0); -o-transform: scale(0); -ms-transform: scale(0); transform: scale(0); -webkit-backface-visibility: hidden; }
.marke_content li .a_hre:hover b { width: 128px; height: 128px; opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); background: #cb1f19; }
.marke_content li .a_hre b font { color: #fff; color: #939393; font-size: 65px; line-height: 128px; }
.marke_content li .a_hre:hover b font { color: #fff; }
.pop, .pop1 { position: absolute; top: 0; left: 0; background: url(../images/pop.png) repeat; z-index: 99999; }
.pop_content { width: 1000px; height: 594px; background: #fff; position: absolute; top: 0; right: -1000px; }
.pop_content1 { width: 1000px; height: 650px; background: #fff; position: absolute; top: 0; right: -1000px; }
.pop_tit { width: 100%; height: 62px; background: #c3150f; overflow: hidden; }
.pop_tit_le { width: 79px; padding: 10px 0 0 11px; }
.pop_tit_ri { width: 100px; }
.pop_tit_ri a { display: block; width: 81px; height: 62px; float: right; }
@keyframes rogates {
    0% { transform: rotate(0); }
    100% { transform: rotate(90deg); }
}

@-webkit-keyframes rogates {
    0% { -webkit-transform: rotate(0); }
    100% { -webkit-transform: rotate(90deg); }
}
.pop_tit_ri a:hover img{animation: rogates 0.3s linear; -webkit-animation: rogates 0.3s linear;}
.pop_tit_ri a img { margin: 10px 0 0 31px; }
.pop_tit_ce { width: 810px; text-align: center; font-size: 30px; font-family: "微软雅黑"; line-height: 62px; color: #fff; }
.pop_text { width: 898px; margin: 0 auto; overflow: hidden; border-bottom: 1px dashed #dfdfdf; padding: 10px 0 15px 0; }
.pop_text h3 { font-size: 20px; font-family: "微软雅黑"; line-height: 34px; color: #b2130d; }
.pop_text h3 span { font-family: "宋体"; font-size: 14px; color: #9d9d9d; line-height: 34px; overflow:hidden }
.pop_text h3 span font {font-family:"微软雅黑"; font-size:14px; line-height:34px; display:inline-block; background:url(../images/dian.gif) no-repeat left center; padding-left:14px;}
.pop_text ul{ overflow:hidden; width:898px;}
.pop_text ul li { width: 448px; height:36px; overflow: hidden; float: left; margin: 10px 0 0 0; }
.pop_text ul li label { width: 80px; float: left; font-family: "微软雅黑"; font-size: 16px; color: #949494; line-height: 36px; text-align: right; padding: 0 5px 0 0; } 
.pop_text ul li label font { color: #b2130d; font-weight: bold; }
.pop_text ul li .inp { float: left; width: 339px; height: 34px; border: 1px solid #d2d2d2; position: relative; }
.pop_text ul li .e { border: 1px solid #f1dbdb; background: #fbf1f1; }
.pop_text ul li .inp input { width: 329px; height: 24px; margin: 5px 0 0 5px; font-family: "微软雅黑"; font-size: 14px; color: #949494; line-height: 24px; background: none; }
.pop_text ul li .inp p { width: 329px; height: 34px; position: absolute; top: 0; left: 0; font-family: "微软雅黑"; font-size: 14px; color: #111; line-height: 34px; background: #f3c04f; padding: 0 5px; }
.pop_text ul .width898 { width: 898px; height:87px;}
.pop_text ul li .textarea { width: 788px; height: 85px; border: 1px solid #d2d2d2; float: left; position: relative; }
.pop_text ul li .textarea textarea { width: 778px; height: 75px; margin: 5px 0 0 5px; background: none; outline: none; border: 0 none; resize: none; }
.pop_text ul li .textarea p { width: 778px; height: 85px; background: #f3c04f; font-family: "微软雅黑"; font-size: 14px; color: #111; line-height: 24px; padding: 0 5px; position: absolute; left: 0; top: 0; }
.check_box { width: 898px; margin: 0 auto; overflow: hidden; }
.check_box h3 { font-size: 20px; font-family: "微软雅黑"; line-height: 70px; color: #b2130d; float: left; }
.check_box p { font-family: "微软雅黑"; font-size: 14px; color: #111; line-height: 28px; background: #f3c04f; padding: 0 15px; float: left; margin: 22px 0 0 15px; }
.check_box ul { overflow: hidden; width: 100%; }
.check_box ul li { float: left; width: 224px; overflow: hidden; margin: 0 0 14px 0; }
.check_box ul li span { float: left; width: 22px; height: 22px; background: url(../images/checkbox.jpg) no-repeat; display: block; margin: 0 5px 0 0; }
.check_box ul li .e { background: url(../images/checkbox1.jpg) no-repeat; }
.check_box ul li label { float: left; font-family: "微软雅黑"; font-size: 16px; color: #949494; line-height: 22px; }
.check_box .button { width: 128px; text-align: center; height: 52px; line-height: 52px; background: #c3150f; border-radius: 2px; margin: 41px auto 0 auto; }
.check_box .button input { width: 128px; height: 52px; background: none; cursor: pointer; font-family: "微软雅黑"; font-size: 24px; color: #fff; }
.consultation { width: 896px; overflow: hidden; margin: 0 auto; padding: 15px 0; border-bottom: 1px solid #e4e4e4; }
.consultation ul { width: 898px; overflow: hidden; }
.consultation ul li { float: left; width: 298px; border-right: 1px solid #e4e4e4; }
.consultation ul li a { display: block; width: 298px; height: 135px; text-align: center; overflow: hidden; }
.consultation ul li a font { display: inline-block; width: 95px; height: 95px; border: 1px solid #c41a14; border-radius: 95px; }
.consultation ul li a font i { font-size: 65px; line-height: 95px; color: #c3150f; }
.consultation ul li a strong { display: block; }
.consultation ul li a p { font-family: "微软雅黑"; font-size: 14px; color: #ababab; line-height: 24px; }
.consultation ul li a p span { color: #c3150f; font-family: "微软雅黑"; font-size: 14px; }
.consultation ul li a em { background: #c3150f; font-style: normal; color: #fff; font-family: "微软雅黑"; font-size: 14px; line-height: 24px; padding: 2px 5px; border-radius: 2px; margin-top:8px; display:inline-block; }
.case h3 { text-align: center; padding: 40px 0; }
#anli_all { width: 997px; height: 310px; overflow: hidden; }
.case .list { width: 995px; height: 299px; border: 1px solid #d3d3d3; overflow: hidden; margin: 0 auto; }
.case .list ul { width: 996px; overflow: hidden; float: left; }
.case .list ul li { width: 165px; height: 74px; border-right: 1px solid #d3d3d3; border-bottom: 1px solid #d3d3d3; float: left; overflow: hidden; position: relative; }
.case .list ul li a { width: 165px; height: 148px; position: relative; display: block; }
.case .list ul li a img { display: block; }
.case .list ul li a .img1 { filter: gray; /* ie6-8 */ filter: grayscale(1); filter: progid: DXImageTranorm.Microsoft.BasicImage(grayscale=1); /*ie6-9 */ filter: grayscale(100%); /* 未来浏览器 */ -webkit-filter: grayscale(100%); /* chrome+ */ -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */ filter: progid: DXImageTransform.Microsoft.BasicImage(grayscale=1); -webkit-filter: grayscale(1); }
.case_tab { overflow: hidden; text-align: center; padding: 15px 0 0 0; }
.case_tab a { width: 50px; height: 10px; display: inline-block; font-size: 0; margin: 0 5px; background: #d2d2d2; }
.case_tab .e { background: #cb1f19; }

.recruitment { width: 519px; height: 459px; margin: 46px auto 0 auto; overflow: hidden; }
.recruitment ul { width: 566px; overflow: hidden; }
.recruitment ul li { float: left; margin: 0 47px 39px 0; }
.recruitment ul li a { display: block; width: 236px; height: 210px; overflow: hidden; text-align: center; }
.recruitment ul li a font { display: block; font-family: "微软雅黑"; font-size: 27px; line-height: 58px; color: #fff; }
.recruitment ul li a span { display: inline-block; font-family: "微软雅黑"; font-size: 65px; line-height: 65px; color: #fff; margin: 45px 0 0 0; }
.color1 { background: #981515; }
.color2 { background: #c6881b; }
.color3 { background: #018190; }
.color4 { background: #1d66c0; }
.recruitment ul li a:hover span { -moz-animation: gg 0.3s linear; -ms-animation: gg 0.3s linear; -o-animation: gg 0.3s linear; -webkit-animation: gg 0.3s linear; animation: gg 0.3s linear; }

@keyframes gg {
    0% { transform: translateX(-110px); }
    100% { transform: translateX(0); }
}

@-moz-keyframes gg {
    0% { -moz-transform: translateX(-110px); }
    100% { -moz-transform: translateX(0); }
}

@-o-keyframes gg {
    0% { -o-transform: translateX(-110px); }
    100% { -o-transform: translateX(0); }
}

@-webkit-keyframes gg {
    0% { -webkit-transform: translateX(-110px); }
    100% { -webkit-transform: translateX(0); }
}

@-ms-keyframes gg {
    0% { -ms-transform: translateX(-110px); }
    100% { -ms-transform: translateX(0); }
}

.recruitment ul li a:hover font { -moz-animation: qq 0.3s linear; -ms-animation: qq 0.3s linear; -o-animation: qq 0.3s linear; -webkit-animation: qq 0.3s linear; animation: qq 0.3s linear; }

@keyframes qq {
    0% { transform: translateX(110px); }
    100% { transform: translateX(0); }
}

@-moz-keyframes qq {
    0% { -moz-transform: translateX(110px); }
    100% { -moz-transform: translateX(0); }
}

@-ms-keyframes qq {
    0% { -ms-transform: translateX(110px); }
    100% { -ms-transform: translateX(0); }
}

@-o-keyframes qq {
    0% { -o-transform: translateX(110px); }
    100% { -o-transform: translateX(0); }
}

@-webkit-keyframes qq {
    0% { -webkit-transform: translateX(110px); }
    100% { -webkit-transform: translateX(0); }
}

.recruitment768 { width: 1000px; height: 210px; overflow: hidden; }
.recruitment768 ul { width: 1500px; height: 210px; overflow: hidden; }
.recruitment768 ul li { margin: 0 18px 0 0; }

.map { background: url(../images/map.gif) no-repeat center; }
.contact_us { width: 674px; background: #fff; margin: 0 auto; }
.contact_us .title { background: #cb1f19; }
.contact_us .title img { display: block; }
.contact_font { padding: 30px 32px 15px; overflow: hidden; }
.contact_font h3 { padding: 12px 0; }
.contact_font h3 img { width: 60%; }
.contact_font h4 { padding: 12px 0 0 0; float: right; }
.contact_font p { font-family: "微软雅黑"; font-size: 16px; line-height: 45px; color: #9f9f9f; }
.location { display: block; width: 96px; height: 128px; background: url(../images/location.png) no-repeat; position: absolute; right: -96px; top: 212px; }

.trytip { height: 52px; background: none; cursor: pointer; font-family: "微软雅黑"; font-size: 16px; color: #fff; display: none; }
.trytip label { color: yellow; font-weight: bold; font-size: 16px; }
.msgTip { width: 159px; height: 52px; background: none; cursor: pointer; font-family: "微软雅黑"; font-size: 16px; color: #fff; display: none; }
.msgTip label { color: yellow; font-weight: bold; font-size: 16px; }

@media screen and (max-width:1366px) {
    .marketing { margin: 18px auto 0; }
    .marke_content ul { margin: 15px 0 0 53px; }
    .marke_content li { padding: 10px 85px; }
}

.ing { position: fixed; left: 25%; top: 20%; width: 800px; height: 500px; background: #b50008; z-index: 99999999; text-align: center; line-height: 500px; }
.ing img { margin-top: 50px; }

