<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="strConn" connectionString="server=192.168.1.32\sql2005;database=SY_MH;uid=sa;pwd=sa;" />
  </connectionStrings>
  <appSettings>
    <add key="mail" value="sykjjl@163.com"/>
    <add key="mailName" value="sykjjl"/>
    <add key="mailPwd" value="hrqondlqpedkggdf"/>
    <!--<add key="tomail" value="hr@shangyekj.com"/>-->
    <add key="tomail" value="43946@163.com"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="404.html" /> 
    </customErrors>
    <pages validateRequest="false" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="500" requestValidationMode="2.0" maxRequestLength="2147483647" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
  </system.web>
</configuration>
