/** initial setup **/
.nano {position:relative;width:100%;height:100%;overflow:hidden;}
.nano .content {position:absolute;overflow:scroll;overflow-x:hidden;top:0;right:0;bottom:0;left:0;}
/**.nano .content:focus {
  outline: thin dotted;
}*/
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .pane {
  background : url('/WebUI/images/ScrollBar/scrollbg.png');
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;  
  border-radius         : 5px;
}
.nano > .pane > .slider {
  background:url(/WebUI/images/ScrollBar/rbg.png) repeat-y;
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}
.nano .pane {background:url('/WebUI/images/ScrollBar/scrollbg.png');width:10px;right: 1px;}
.nano .slider {background:url(/WebUI/images/ScrollBar/rbg.png) repeat-y;}