/* CSS Document */
#menu { margin: 0; padding: 0; position: fixed;list-style-type: none; z-index: 70;}
#menu li { float: left; margin:  0 10px 0 0; font-size: 14px;}
#menu a { float: left; padding: 10px 20px; background-color: #fff; color: #333; text-decoration: none;}
#menu .active a { color: #fff; background-color: #333;}
.section { text-align: center; font: 50px "Microsoft Yahei"; height:768px; overflow:hidden;}
.page-one-header{width:100% ;height:80px; background:#FFF; position:fixed;*position:relative;top:0px;z-index:70;}
.header-infor{width:1000px;height:80px;margin:0 auto; overflow:hidden;}
.logo{ background:url(../images/baobaozhiku/logo.png) no-repeat center 20px;float:left;display:inline;width:220px;height:80px;
}
.nav{width:500px;height:80px;float:right;display:inline; overflow:hidden;}
.nav a{width:95px;height:80px;display:inline-block;float:left;margin-left:30px;font:normal 18px/80px "微软雅黑"}
.nav-line{ border-bottom:3px solid #29a1dd;width:95px;height:60px; margin-left:28px;background:none;}

@media screen and (max-width: 1920px) {
.page-one-header{width:100%;height:100px; background:#FFF; position:fixed;*position:relative;top:0px;z-index:70;}
.header-infor{width:1000px;height:100px;margin:0 auto; overflow:hidden;}
.logo{ background:url(../images/baobaozhiku/logo.png) no-repeat center 20px;float:left;display:inline;width:220px;height:100px;
}
.nav{width:500px;height:100px;float:right;display:inline; overflow:hidden;}
.nav a{width:95px;height:100px;display:inline-block;float:left;margin-left:30px;font:normal 18px/100px "微软雅黑"}
.nav-line{ border-bottom:3px solid #29a1dd;width:95px;height:70px; margin-left:28px;background:none;}
}
#global_scroll {
  width: 29px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -14px;
  bottom: 20px;
}


#page-one{background:#53b5fe;
  background-image: -webkit-linear-gradient(0deg, #53b5fe 0%, #53b5fe 30%, #5aa5ff 50%, #53b5fe 70%, #53b5fe 100%);
  background-image: -moz-linear-gradient(0deg, #53b5fe 0%, #53b5fe 30%, #5aa5ff 50%, #53b5fe 70%, #53b5fe 100%);
  background-image: -ms-linear-gradient(0deg, #53b5fe 0%, #53b5fe 30%, #5aa5ff 50%, #53b5fe 70%, #53b5fe 100%);

  }
 
.page-one-sign{width:380px;height:42px; margin:0 auto 0 auto; background:url(../images/baobaozhiku/sign.png) no-repeat;margin-top:100px;
}
.page-one-information{width:530px;height:32px;font:normal 26px/32px "微软雅黑";color:#fff;margin:20px auto;
}
.page-one-photo{width:582px;height:300px; background:none; margin:40px auto 0 auto; position:relative; }
.computer{ position:absolute;left:0px;
}




.ipad{ position:absolute;left:340px;top:125px;}



.iphone{ position:absolute;right:30px;bottom:0px;
}

.pulse{ opacity:1; }

/*******************************************************第一页完*********************************************************************/
#page-two{background:#f9ffd3;}
.page-two-sign{font:normal 35px/70px "微软雅黑"; position:absolute;*position:relative; opacity:1;top:-80px;
}

.page-two-information{ position:relative;width:700px;height:385px; margin:180px auto 0; background:none;}


.page-two-photo{ position:absolute;right:95px;bottom:10px; background:url(../images/baobaozhiku/xiaoxue.png) no-repeat center right;width:495px;height:354px;
}
.page-two-xiaoxueg{position:relative;right:0px;bottom:4px; background:url(../images/baobaozhiku/xiaoxueg.png) no-repeat;width:495px;height:354px;*position:absolute;*top:0px;}



.page-two-infor{ line-height:30px;font:normal 18px/30px "微软雅黑"; position:relative;top:0px;*top:-50px; text-align:left; }
.sixth{ opacity:1;}
.fadeInUpBig{opacity:1;}
/*******************************************************第2页完*********************************************************************/
#page-three{ background:#e3fdff;}
.page-three-information{width:703px;height:394px;margin:180px auto 0; background:none; position:relative; }
.page-three-sign{font:normal 35px/70px "微软雅黑"; position:absolute;top:-80px;right:0px;}
.page-three-photo{ background:url(../images/baobaozhiku/qimengg.png) no-repeat;position:absolute;width:387px;height:387px;
;left:0;}
.page-three-qimengg{ background:url(../images/baobaozhiku/qimeng.png) no-repeat;position:relative;left:20px;top:240px;width:168px;height:144px;}

.page-three-infor{ line-height:30px;font:normal 18px/30px "微软雅黑"; position:absolute;right:0px; }
.page-three-info{ line-height:30px;font:normal 18px/30px "微软雅黑"; position:absolute;right:-3px;top:30px; }

/*******************************************************第3页完*********************************************************************/
#page-four{ background:#fff0f8;}
.page-four-sign{font:normal 35px/70px "微软雅黑"; position:absolute;top:-80px; }
.page-four-photo{ background:url(../images/baobaozhiku/qinzig.png) no-repeat center right;position:absolute;right:0px;width:500px;height:387px;}
.page-four-qinzig{ background:url(../images/baobaozhiku/qinzi.png) no-repeat;position:relative;left:10px;top:200px;width:189px;height:175px;
}
.page-four-infor{ line-height:30px;font:normal 18px/30px "微软雅黑"; position:relative;top:0px; text-align:left; }

.page-four-footer{font:normal 12px/30px "微软雅黑";width:300px;height: 50px;position: absolute;left: 50%;margin-left: -150px;bottom: 20px;}
.slideInRight{opacity:1;}
.fadeInLeftBig{opacity:1;}
.bounceOutLeft{
opacity:1;
}